---
layout: home
---

<section id="about">
	<div class="container">
	  <div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image">
	  </div>
      <h3><strong>Arman Akbarian</strong><h3>
      <h4 class="light">Principal Data Scientist at Vision Critical | Ph.D.  </h4>
      <h4 class="light">previously, Co-Founder & Chief Data Scientist at Aida (Acquired by Vision Critical) </h4>

	  {% include social.html %}

	  {% include prefooter.html %}
	</div>
</section>
