    <div class="aboutpanel">
      <h3>Welcome to my page!<h3>
                
              <p>
I am Arman, a physicist in previous life, now a data scientist. 
My interests are in solving analytic problems and employing mathematical models, statistics and computational techniques to challenges 
in business analytics. I have build several machine learning tools and worked on data science projects in natural language processing, 
predictive modeling, forecasting, text mining, information retrieval, and recommendation systems. 
I have also obtained expertise in large scale distributed computing and numerical algorithms as part of my PhD program in computational physics <a href="http://laplace.phas.ubc.ca/People/arman/">[+]</a>.
              </p>
              <p>

At the moment, I am completely obsessed with natural language "understanding", applications of deep learning in semantic search engines, 
and question-answering retrieval systems. I am also pretty addicted to Python and am trying to find my way to contribute to its amazing open-source 
community. In my free time, I do landscape photography <a href="http://www.armanphotography.com/Landscapes">[+]</a>, resistant training, and 
travelling <a href="http://www.armanphotography.com/Places/">[+]</a>. </p>

              <p>
              Please feel free to <a href="mailto:arman2@gmail.com">contact me</a>, if you think we have something to chat about! 
                I love intellectual conversations, anything startup, bad puns and good beer!
              </p>

          </div>


