    <div class="aboutpanel">
        <h3>Hello! </h3>
              <p>
              I am currently a senior applied scientist in Amazon. Previous, I worked as a senior data scientist at Lyft focusing
              on applications of NLU and machine learning in community and road safety, support as well as applications of deep learning
              in spatio-temporal supply and demand forecasting. Before Lyft, I was the co-founder and chief data scientist
              in <a href="https://www.linkedin.com/company/aida-software-corp">Aida</a>, a machine learning startup, where
              I helped with research and development of AI solutions for natural language
              understanding in customer support/intelligent segment.
              Our company was
              <a href="https://betakit.com/vision-critical-acquires-aida-to-integrate-ai-applications-into-platform/">acquired by Vision Critical</a>
              in late 2017.
              </p>

              <p>
              I hold a PhD degree in computational physics from UBC where I worked on large scale distributed computing and numerical algorithms for
              gravitational physics research <a href="http://laplace.phas.ubc.ca/People/arman/">[+]</a>. My main interest in machine learning
              is natural language "understanding" and its applications in semantic web. In my free time,
              I do <a href="https://www.instagram.com/rmanakb/">landscape photography</a>, and traveling.
              </p>

              <p>
              Please feel free to <a href="https://rmanak.github.io/contact">contact me</a>, if you think we might
              have something interesting to chat about!
              I love intellectual conversations, anything nerdy, bad puns and good beer!
              </p>

          </div>


