<div class="prefooter">
	<div class="row">
			
	<h4>
        <a href="projects.html">Projects  <i class="fa fa-file-code-o" aria-hidden="true"></i></a>
      <a href="about.html">About <i class="fa fa-user" aria-hidden="true"></i></a>
      <a href="http://laplace.phas.ubc.ca/People/arman">UBC Page  <i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
      <a href="http://laplace.phas.ubc.ca/People/arman/Publications.html">Publications <i class="fa fa-book" aria-hidden="true"></i></a>

	</h4>
</div>
</div>
