<div class="prefooter">
	<div class="row">
			
	<h4>
      <a href="projects.html">&#8220;.__main__&#8221;</a>
      <a href="about.html">&#8220;.__doc__&#8221;</a>
      <a target="_blank" href="http://laplace.phas.ubc.ca/People/arman/Publications.html">&#8220;.__papers__&#8221;</a>
      <a target="_blank" href="http://www.armanphotography.com/Landscapes/">&#8220;.__moments__&#8221;</a>
      <a target="_blank" href="http://www.armanphotography.com/Places/">&#8220;.__places__&#8221;</a>

	</h4>
</div>
</div>
