<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://rmanak.github.io/FD/">FD: Finite Difference Simulation Toolkit</a></strong><br>
            - A high-level programming language to solve nonlinear PDEs
        </h5>
		<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rmanak/search_relevance">Search Relevance</a></strong><br>
			- Home Depot's search relevance data science challenge | NLP and text mining | Score: top 3.5%
		</h5>
    	<h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/rmanak/simplehtml">Simple HTML</a></strong><br>
           -  A self-contained minimal web [github] page generator and CMS with: Markdown + CodeHighlighter + TOC + References + Latex + IncludeHTML + EasyImageInclude
		</h5>
		<h5>
            <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.armanphotography.com/">Arman Photography</a></strong><br>
            - My personal photography projects
		</h5>
    </div>
  </div>
</div>
</section>
